* {
  margin: 0;
  padding: 0;
}

img {
  border-style: none;
  display: block;
}

ul,
ol,
li,
dl,
dt,
dd {
  list-style: none;
}

a {
  display: block;
  color: black;
  background-color: transparent;
  font-size: inherit;
  text-decoration: none;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-wrap {
  flex: 1;
}
